/*fuentes diseño: open sans y rubik
Colores utilizados en el diseño:
Verde oscuro: #099D8D
Verde claro: #14D9C4
Blanco: #FFFFFF
Negro: #000000
Gris oscuro: #54585A
Gris claro: #B8B8B9
Gris de fondo: #F1F1F1 */
:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nombreequipoheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  text-align: center;
  width: 100%;
  height: 20px;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #099d8d;
  font-family: var(--font-family);
}

.containerheader {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 40px;
  color: white;
  background-color: #14d9c4;
  font-family: var(--font-family);
}

.textomenuheader {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 100%;
  text-align: center;
}

.boxheader1 {
  height: 10px;
  font-size: 10px;
  padding: 15px;
  width: 33%;
  text-align: center;
}

.boxheader2 {
  height: 10px;
  font-size: 10px;
  padding: 15px;
  width: 33%;
  text-align: center;
}

.boxheader3 {
  height: 10px;
  font-size: 10px;
  padding: 15px;
  width: 33%;
}

.imagenfondo {
  box-sizing: border-box;
  align-content: center;
  width: 100%;
  max-height: 421px;
}

.esloganheader {
  position: absolute;
  align-items: center;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  background-color: #6bd5f1;
  border: 1px solid #afcde3;
  -webkit-border-radius: 10px;
  border-radius: 15px;
  font-size: 15px;
  margin-top: -6vh;
  margin-left: 5vw;
  padding: 6px;
  height: 10%;
  width: 35%;
  color: black;
  font-family: var(--font-family);
  background-color: #14d9c4;
  border: solid 0.5px #099d8d;
}

/*
.eslogan {
  display: absolute;
  margin-top: 20px;
  text-align: center;
  width: 80%;
  padding: 2%;
  font-size: 24px;
  color: #000 100%;
  border: 2px solid #ffffff;
  background-color: #f1f1f1;} */

.esloganheader:hover {
  background-color: pink;
  border: solid 0.5px purple;
}

body {
  background-color: #ffffff;
  font-family: OpenSans-SemiBold;
}

/*Añadido solo para poder ver las cajas de secciones. Se puede quitar*/

/*--------------main section-------------------------------------------------------*/
.main {
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 1%;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #54585a;
  /*a definir*/
  background-color: #f1f1f1;
  border: 2px solid #ffffff;
  /*A escoger entre todas*/
}

.titulo {
  color: #099d8d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

/*-------------*/
.equipo {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 2px solid white;
  line-height: 1.5;
  background-color: #f1f1f1;
}
.titulo-team {
  color: #14d9c4;
  width: 100%;
  display: flexbox;
  justify-content: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px 10px;
}
/*------------------*/
.dafo-equipo {
  background-color: #b8b8b9;
  padding: 3%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
/* revisar margenes */
.fortalezas {
  width: 100%;
  padding: 2%;
  line-height: 1.5;
  margin: 20px 10px 0;
}
.titulo-fortalezas {
  font-size: 22px;
}

.debilidades {
  width: 100%;
  padding: 2%;
  line-height: 1.5;
}
.titulo-debilidades {
  font-size: 22px;
  margin: 20px 20px 0;
}
/*------------------*/
.who-we-are {
  padding: 2%;
  border: 2px solid #ffffff;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

.title-who-we-are {
  width: 100%;
  text-align: center;
  padding: 1%;
  line-height: 1.88;
}
.integrantes {
  width: 100%;
  padding: 2%;
  line-height: 1.5;
  align-content: center;
}

.titulo-integrantes {
  color: #000000;
  font-size: 20px;
}

.logos-redes {
  margin: 15px 83px 0;
  font-family: FontAwesome5Brands;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #099d8d;
}

/*---------------end main section--------------------------------------------------*/
/*--------------footer------------*/
.footer {
  border-top: 1px solid #54585a;
  margin-top: 45px;
  background-color: #f1f1f1;
}
.footer_container {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_copy {
  margin-top: 30px;
  color: #54585a;
}
.footer_links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-style: unset;
}

.footer_link {
  text-decoration: none;
  line-height: 24px;
  font-size: 14px;
  color: #54585a;
}
.logo {
  margin-top: 20px;
  margin-bottom: 45px;
}
.footer_logo_image {
  width: 115.9;
  height: 45px;
}
