body {
  background-color: rgb(108, 191, 194);
  margin: 2%;
} /*Añadido solo para poder ver las cajas de secciones. Se puede quitar*/

/*--------------main section-------------------------------------------------------*/
.main {
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 1%;
  /*a definir*/
  border: 2px solid white;
  /*A escoger entre todas*/
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(98, 105, 105);
  font-size: 100%;
  /*A escoger entre todas*/
}
/*------------*/
.eslogan {
  display: flexbox;
  text-align: center;
  width: 80%;
  padding: 1%;
  /*a definir --- da error*/
  border: 2px solid white;
  background-color: rbg rgb(233, 241, 239);
}
/*-------------*/
.equipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /*a definir --- da error*/
  border: 2px solid white;
  background-color: rbg rgb(233, 241, 239);
}
#team {
  width: 100%;
  display: flexbox;
  justify-content: center;
  text-align: center;
  /*A escoger entre todas*/
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(33, 174, 184);
  font-size: 150%;
  /*A escoger entre todas*/
}
/*------------------*/
.dafo-equipo {
  border: 2px solid white;
  background-color: rgb(186, 197, 194);
  padding: 1%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.fortalezas {
  width: 50%;
}
#fortalezas {
  /*A escoger entre todas*/
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(33, 174, 184);
  font-size: 150%;
  /*A escoger entre todas*/
}

.debilidades {
  width: 50%;
}
#debilidades {
  /*A escoger entre todas*/
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(33, 174, 184);
  font-size: 150%;
  /*A escoger entre todas*/
}
/*------------------*/
.who-we-are {
  border: 2px solid white;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rbg rgb(233, 241, 239);
}

#who-we-are {
  width: 100%;
  text-align: center;
  padding: 1%;
  /*A escoger entre todas*/
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(33, 174, 184);
  font-size: 150%;
  /*A escoger entre todas*/
}
/*---------------end main section--------------------------------------------------*/
