.dafo-equipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #b8b8b9;
  width: 100%;
  text-align: center;
  padding: 2%;
  padding-top: 10%;
}

.fortalezas {
  width: 100%;
  line-height: 1.5;
  margin: 20px 10px 0;
}
.titulo-fortalezas {
  font-size: 22px;
}

.debilidades {
  width: 100%;
  line-height: 1.5;
}
.titulo-debilidades {
  font-size: 22px;
  margin: 20px 20px 0;
}
