.dafo-equipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #b8b8b9;
  width: 100%;
  text-align: center;
  padding: 30px 15px 45px 15px;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.fortalezas {
  width: 100%;
  line-height: 1.5;
  margin: 20px 10px 0;
}
.titulo-fortalezas {
  font-size: 22px;
}

.debilidades {
  padding-top: 30px;
  width: 100%;
  line-height: 1.5;
}
.titulo-debilidades {
  font-size: 22px;
  margin: 20px 20px 0;
}
