.dafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #b8b8b9a2;
  width: 100%;
  text-align: center;
  padding: 30px 15px 45px 15px;
  animation: 7s infinite heart;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding: 45px 45px 60px 45px;
  }
  @media all and (min-width: 1200px) {
    padding: 45px 138px 60px 138px;
  }
}

.dafo__fortalezas {
  line-height: 1.5;
  padding: 0px 15px 0px 15px;
  @media all and (min-width: 768px) {
    padding: 0px 15px 0px 0px;
    width: 50%;
  }
  @media all and (min-width: 1200px) {
    padding: 0px 22.5px 0px 0px;
    width: 50%;
  }
  .dafo__fortalezas--titulo {
    font-size: 22px;
  }
}

.dafo__debilidades {
  line-height: 1.5;
  padding: 30px 15px 0px 15px;
  @media all and (min-width: 768px) {
    padding: 0px 0px 0px 15px;
    width: 50%;
  }
  @media all and (min-width: 1200px) {
    padding: 0px 0px 0px 22.5px;
    width: 50%;
  }
  .dafo__debilidades--titulo {
    font-size: 22px;
  }
}
