.equipo {
  padding-top: 76px;
  @media all and (min-width: 768px) {
    padding-top: 45px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  line-height: 1.5;
  background-color: #f1f1f1;
}

.equipo {
  div {
    z-index: 9999;
    padding-top: 15px;
  }
}
.titulo-team {
  color: #099d8d;
  text-transform: uppercase;
}
/*------------------*/
.triangulo {
  background-color: #f1f1f1;
  transform: rotate(45deg);
  width: 5rem;
  height: 5rem;
  margin-bottom: -4vh;
  margin-left: auto;
  margin-right: auto;
}
