.whoweare__section--general {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  background-color: $white;
}

.whoweare__title {
  text-align: center;
  padding: 30px 0 30px 0;
  text-transform: uppercase;

  @media all and (min-width: 768px) {
    padding: 45px 0 41px 0;
  }
}

.whoweare__container {
  width: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px 45px 15px;
  @media all and (min-width: 768px) {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 44px 60px 44px;
  }
  &--left-align {
    @media all and (min-width: 768px) {
      flex-direction: row;
      text-align: left;
    }
    @media all and (min-width: 1200px) {
      padding: 0 0 60px 138px;
    }
  }
  &--right-align {
    @media all and (min-width: 768px) {
      flex-direction: row-reverse;
      text-align: right;
    }

    @media all and (min-width: 1200px) {
      padding: 0 138px 60px 0;
    }
  }
}

.whoweare__photo {
  width: 100%;
  min-width: 180px;
  &--container {
    height: 180px;
    width: 180px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: solid 5px $light-grey;
    overflow: hidden;

    @media all and (min-width: 768px) {
      height: 205px;
      width: 205px;
      margin-bottom: 0;
    }
    @media all and (min-width: 1200px) {
      height: 278px;
      width: 278px;
    }
  }
}
.whoweare__member--name {
  height: 45px;
  color: #000000;
  font-size: 20px;
  font-weight: unset;
}
.whoweare__information {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @media all and (min-width: 768px) {
    width: 72%;
  }
  @media all and (min-width: 1200px) {
    width: 45.5%;
  }

  &--left-align {
    @media all and (min-width: 768px) {
      align-items: flex-start;
      padding: 0 0 0 29px;
    }
    @media all and (min-width: 1200px) {
      padding: 0 0 0 45px;
    }
  }
  &--right-align {
    @media all and (min-width: 768px) {
      align-items: flex-end;
      padding: 0 29px 0 0;
    }
    @media all and (min-width: 1200px) {
      padding: 0 45px 0 0;
    }
  }
}

.logos-redes {
  height: 30px;
  width: 124px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: FontAwesome5Brands;
  font-size: 0.5rem;
  color: #099d8d;
  padding-top: 15px;
}
.fab,
.fas {
  color: $dark-green;
  transform: scale(2);
  p {
    font-weight: bold;
  }
}
