<section class="dafo-equipo">
  <div class="fortalezas">
    <h1 class="titulo titulo-fortalezas">Fortalezas</h1>
    <p>
      Nuestro equipo, con gran diversidad, nos permite adaptarnos a cualquier
      reto. Nuestra motivación, autonomía y curiosidad, nos permite desarrollar
      cualquier proyecto pese a nuestra breve trayectoria en el sector. Por otro
      lado, nuestra capacidad de comunicación y empatia, nos ha permitido
      disponer ya de amplios contactos en dicho sector lo que nos abre un sin
      fin de posibilidades de colaboración y enriquecimiento.
    </p>
  </div>
  <div class="debilidades">
    <h1 class="titulo titulo-debilidades">Debilidades</h1>
    <p>
      La poca expertice hasta la fecha, pese a que no nos imposibilita realizar
      cualquier proyecto gracias a nuestra pro-actividad en el aprendizaje, si
      que afectará al tiempo de trabajo.
    </p>
  </div>
</section>
