
<section class="equipo" id="link-equipo">
  <h1 class="titulo titulo-team">Equipo</h1>
  <div>
    <p>
      Somos unas profesionales de pies a cabeza con un recorrido en el mundo laboral muy distintos unas de otras. 
    </p> <br>
    <p>
      Ello nos permite adaptarnos con mayor facilidad a cualquier cambio y aportar prespectivas / ideas diversas que favorecen al resultado de nuestros proyectos en cuanto a la creatividad, la coordinación y la atención al detalle. 
    </p> <br>
      Trabajamos de manera coordinada para lograr un objetivo común, proporcionando al cliente el producto que mejor se ajusta a sus necesidades.
    </p> <br>
  </div>
  <small class="triangulo"></small>
</section>