<footer class="footer">
  <div class="footer_container">
    <section class="footer_copy">Las 4 fantásticas &copy; 2021</section>
    <nav>
      <ul class="footer_links">
        <li class="footer_list">
          <a href="#link-equipo" class="footer_link">Equipo</a>
        </li>
        <li class="footer_list">
          <a href="#link-who-we-are" class="footer_link">Quiénes somos</a>
        </li>
        <li class="footer_list">
          <a href="./contact.html" class="footer_link" target="_blank"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
    <section class="logo_adalab">
      <a href="https://adalab.es/" target="_blank"
        ><img
          class="footer_logo_image"
          src="assets/images/logo-adalab.png"
          alt="Adalab"
      /></a>
    </section>
  </div>
</footer>
