<footer class="footer">
  <section class="footer__copy">Las 4 fantásticas &copy; 2021</section>
  <nav>
    <ul class="footer__links">
      <li class="footer__list">
        <a href="#link-equipo" class="footer__links--link">Equipo</a>
      </li>
      <li class="footer__list">
        <a href="#link-who-we-are" class="footer__links--link">Quiénes somos</a>
      </li>
      <li class="footer__list">
        <a href="./contact.html" class="footer__links--link" target="_blank"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <section class="footer__logo">
    <a href="https://adalab.es/" target="_blank"
      ><img
        class="footer__logo--image"
        src="assets/images/logo-adalab.png"
        alt="Adalab"
    /></a>
  </section>
</footer>
