<header>
  <!-- MENÚ SUPERIOR Y TÍTULO: nombre de equipo y botones del navegador-->
   
  <div class="nombreequipoheader" >
      <img  class="logo-image"
     
      src="./img/logo.png"
      alt="fondo"
    />
    </div>
    <nav>
      <ul class="textomenuheader">
        <li class="boxheader1">
          <a class="enlace" href="#link-equipo">
            <strong>EQUIPO</strong></a
          >
        </li>
        <li class="boxheader2">
          <a class="enlace" href="#link-who-we-are"
            ><strong>QUIENES SOMOS</strong></a
          >
        </li>
      <li class="boxheader3">
        <a class="enlace" href="./contact.html" target="_blank"
          ><strong>CONTACTO</strong></a
        >
        </li>
      </ul>
    </nav>
    <!-- IMAGEN DE FONDO: -->
    <div class=container-hero>
      <img  class="imagenfondo"
     
      src="./img/imagen hero.png"
      alt="fondo"
    />
    </div>
    

    <!-- ESLOGAN -->
    <div class="esloganheader">
      <p class="eslogantext">Toda gran web, conlleva una gran responsabilidad </p>
    </div>
  </div>
</header>