<header>
  <!-- MENÚ SUPERIOR Y TÍTULO: nombre de equipo y botones del navegador-->
   
  <div class="nombreequipoheader" >
      <img  class="logo-image"
     
      src="./assets/images/logo.png"
      alt="fondo"
    />
    </div>
    <nav>
      <ul class="textomenuheader">
        <li class="boxheader1">
          <a class="enlace" href="#link-equipo">
            <strong>EQUIPO</strong></a
          >
        </li>
        <li class="boxheader2">
          <a class="enlace" href="#link-who-we-are"
            ><strong>QUIENES SOMOS</strong></a
          >
        </li>
      <li class="boxheader3">
        <a class="enlace" href="./contact.html" target="_blank"
          ><strong>CONTACTO</strong></a
        >
        </li>
      </ul>
    </nav>
    <!-- IMAGEN DE FONDO: -->
    <div class=container-hero>
      <!-- <img  class="imagenfondo"
     
      src="./assets/images/hero_image.png"
      alt="fondo"
    /> -->
    </div>
    


  </div>
      <!-- ESLOGAN -->
  <!-- <div class="esloganheader">
    <p class="eslogantext">Toda gran web, conlleva una gran responsabilidad </p>
  </div> -->
<div class="esloganheader">  <!-- style = "border: 1px solid blue; width: 100%; text-align: center;"> -->
    <div class="eslogantext" >
      <p class="text1">Toda gran web, conlleva una gran responsabilidad </p>
    </div>
  </div>

</header>