<section class="who-we-are" id="link-who-we-are">
  <h2 class="titulo title-who-we-are">Quiénes somos</h2>
  <div class="whoweare-container--member-left">
    <div class="photo-container">
      <img
        class="photo"
        src="./assets/images/imagen-personal3pocahontas.jpg"
        alt="Fotografia"
      />
    </div>
    <article class="whoweare-container--information-left">
      <h3 class="whoweare__member--name">Judit Aldeguer</h3>
      <p class="whoweare__member--description-left">
        Front-End Developer. Tras mi experiencia en Recursos Humanos, durante la
        selección de distintos perfiles, descubrí mi pasión por el Sector IT. Me
        considero una apasionada del crecimiento personal, disfruto con los
        retos y el aprendizaje continuo, y tengo facilidad en la adaptación a
        nuevos entornos. Por otro lado, me viene ya de fabrica ser muy
        estructurada por lo que la maquetación - muy lógica y fluida - me nace
        casi intuitivamente. ¡Siento que he descubierto el sector laboral dónde
        mejor encaja mi forma de ser y estoy deseando poder iniciar nuevos
        proyectos!
      </p>
      <div class="logos-redes">
        <include
          src="./link.html"
          href="https://twitter.com/iniciarsesion?lang=es"
          rrss="fab fa-twitter"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://es.linkedin.com/in/juditaldeguer"
          rrss="fab fa-linkedin-in"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://github.com/JuditAldeguer"
          rrss="fab fa-github-alt"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://onedrive.live.com/about/es-es/signin/"
          rrss="fas fa-envelope"
        ></include>
      </div>
    </article>
  </div>
  <div class="whoweare-container--member-right">
    <div class="photo-container">
      <img
        class="photo"
        src="./assets/images/imagen-personal1mulan.jpg"
        alt="Fotografia"
      />
    </div>
    <article class="whoweare-container--information-right">
      <h3 class="whoweare__member--name">Mariví Escudero</h3>
      <p class="whoweare__member--description-right">
        Front-End Developer. Una cosa que he aprendido en la vida y que
        considero muy importante es el aprendizaje continuo, el adaptarse a los
        cambios y saber resolver los problemas para conseguir nuevas metas. Una
        vez más me he embarcado en una nueva aventura, saliendo de mi zona de
        confort y viviendo nuevas experiencias y retos. Siempre apasionada de
        las nuevas tecnologías, es el momento de abrir las puertas al trabajo en
        el mundo digital y a todos los conocimientos por llegar con entusiasmo,
        esfuerzo e ilusión.
      </p>
      <div class="logos-redes">
        <include
          src="./link.html"
          href="https://twitter.com/iniciarsesion?lang=es"
          rrss="fab fa-twitter"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://www.linkedin.com/in/mariv%C3%AD-escudero-mor%C3%A1n-97534963/"
          rrss="fab fa-linkedin-in"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://github.com/"
          rrss="fab fa-github-alt"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://onedrive.live.com/about/es-es/signin/"
          rrss="fas fa-envelope"
        ></include>
      </div>
    </article>
  </div>
  <div class="whoweare-container--member-left">
    <div class="photo-container">
      <img
        class="photo"
        src="./assets/images/imagen-personal4bella.jpg"
        alt="Fotografia"
      />
    </div>
    <article class="whoweare-container--information-left">
      <h3 class="whoweare__member--name">Alexandra Lillo</h3>
      <p class="whoweare__member--description-left text-container">
        Front-End Developer. Como humanista y apasionada de la historia y el
        arte, siempre he buscado dedicarme a algo creativo, pero hasta ahora, no
        sentía que hubiera encontrado mi hueco. Unir mi pasión por las nuevas
        tecnologías y la posibilidad de darle al coco en busca de nuevos retos,
        me han llevado a este camino que comienzo a andar, siempre con optimismo
        y muchas ganas de aprender.
      </p>
      <div class="logos-redes">
        <include
          src="./link.html"
          href="https://twitter.com/iniciarsesion?lang=es"
          rrss="fab fa-twitter"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://www.linkedin.com/"
          rrss="fab fa-linkedin-in"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://github.com/"
          rrss="fab fa-github-alt"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://onedrive.live.com/about/es-es/signin/"
          rrss="fas fa-envelope"
        ></include>
      </div>
    </article>
  </div>
  <div class="whoweare-container--member-right">
    <div class="photo-container">
      <img
        class="photo"
        src="./assets/images/imagen-personal2cenicienta.jpg"
        alt="Fotografia"
      />
    </div>
    <article class="whoweare-container--information-right">
      <h3 class="whoweare__member--name">Miriam Verdú</h3>
      <p class="whoweare__member--description-right">
        Front-End Developer. Mi pasión por la tecnología es innata, laboralmente
        despertó durante mis prácticas en un proyecto de fibra FTTH para un
        operador internacional. Tras unos años dedicados al marketing
        -acostumbrada a trabajar en equipo, por objetivos y bajo presión- decidí
        unir la creación de materiales, contenidos, maquetación y atención al
        detalle con el sector de IT. Fan de la constante evolución y del
        aprendizaje, estoy preparada para volcarme en nuevos proyectos y
        disfrutar con nuevos retos.
      </p>
      <div class="logos-redes">
        <include
          src="./link.html"
          href="https://twitter.com/iniciarsesion?lang=es"
          rrss="fab fa-twitter"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://www.linkedin.com/"
          rrss="fab fa-linkedin-in"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://github.com/"
          rrss="fab fa-github-alt"
        ></include>
        <p class="fab">·</p>
        <include
          src="./link.html"
          href="https://onedrive.live.com/about/es-es/signin/"
          rrss="fas fa-envelope"
        ></include>
      </div>
    </article>
  </div>
</section>
