.footer {
  border-top: 1px solid #54585a60;
  margin-top: 45px;
  background-color: $white;

  font: {
    family: $font-family;
    weight: bolder;
    size: 0.875rem;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    padding: 30px 45px 56px 45px;
    flex-direction: row;
    justify-content: unset;
    align-items: flex-start;
  }
  @media all and(min-width: 1200px) {
    padding: 30px 138px 47px 138px;
  }
  .footer__copy {
    margin-top: 30px;
    color: #54585a8a;

    @media all and (min-width: 768px) {
      margin: 0px auto 0px 0px;
    }
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    @media all and (min-width: 768px) {
      align-items: flex-end;
      margin-top: unset;
    }

    .footer__links--link {
      line-height: 1.5rem;
      color: #54585a8a;
      text: {
        transform: uppercase;
        decoration: none;
      }
    }
  }

  .footer__logo {
    margin: 1.25rem 0 2.8125rem 0;

    @media all and (min-width: 768px) {
      position: absolute;
      transform: translate(-10px, 15px);
    }
    .footer__logo--image {
      width: 115.9px;
      height: 45px;
    }
  }
}
