body {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
}

.titulo {
  color: #099d8d;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
}

/*-------------*/
@import "./components/equipo";
@import "./components/dafo";
@import "./components/whoweare";

/*------------------*/
