<main id="contact-link" class="main">
  <h1 class="main__titulo">Contacto</h1>
  <section  class="main__presentation">
    <p>
      Estamos encantados que te hayas interesado en nuestro equipo y será un
      placer colaborar contigo.
    </p>
    <small class="main__small"
      >Todos los campos marcados con <strong class="esterisco">*</strong> son
      obligatorios.</small
    >
  </section>

  <form class="form" action="https://formspree.io/f/mgernevo" method="POST">
    <label class="form__label" for="name">
      Nombre completo <strong class="esterisco">*</strong>
    </label>
    <input class="form__input" type="text" id="name" name="name" placeholder="Nombre..." />
    <fieldset class="form__fieldset">
      <label class="form__label from__label--mail" for="mail"> Email <strong class="esterisco">*</strong> </label>
      <input class="form__input from__input--mail"
        type="mail"
        id="mail"
        name="mail"
        placeholder="nombre.apellidos@mail.com"
      />
      <label class="form__label form__label--tel">
        Teléfono
      </label for="tel">
      <input class="form__input form__input--tel" type="tel" id="tel" name="tel" placeholder="Ej: +34 678999999 " />
    </fieldset>
    
   <label class="form__label" for="message">
      Mensaje<strong class="esterisco">*</strong>
    </label>
      <textarea class="form__text"
        id="message"
        name="message"
        rows="8"
        placeholder="¿Qué necesitas?"
      ></textarea>
    <fieldset class="form__fieldset--submit">
      <input class="form__fieldset--submit__button" type="submit" />
    </fieldset>
  </form>
</main>
