<header>
  <!-- MENÚ SUPERIOR Y TÍTULO: nombre de equipo y botones del navegador-->
  <div class="nombreequipoheader">
    <img class="logo-image" src="./assets/images/logo.png" alt="fondo" />
  </div>
  <nav>
    <ul class="textomenuheader">
      <li class="boxheader1">
        <a class="enlace" href="/index.html#link-equipo">
          <strong>EQUIPO</strong></a
        >
      </li>
      <li class="boxheader2">
        <a class="enlace" href="/index.html#link-who-we-are"
          ><strong>QUIENES SOMOS</strong></a
        >
      </li>
      <li class="boxheader3">
        <a class="enlace" href="#contact-link"><strong>CONTACTO</strong></a>
      </li>
    </ul>
  </nav>
  <!-- IMAGEN DE FONDO: -->
  <div class="contact__hero--container">
    <img
      class="contact__hero--image"
      src="./assets/images/contact_image.png"
      alt="fondo"
    />
    <!-- pendiente modificar -->
  </div>
</header>
